<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ggn.updatedbasearchitecture">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".di.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UpdatedBaseArchitecture">
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.feature_one.CoinListActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".presentation.feature_two.CoinDetailsActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>